{% extends "base.html" %}

{% block content %}
<div class="profile">
    <div id="profile-picture" class="profile-picture">
        <img src="{{ url_for('static', filename='img/logo.jpg') }}">
    </div>
    <div class="profile-content">
        <h1>About Me</h1>
        <p>I’m a computer science and mathematics student at Brooklyn College, passionate about self-improvement, continuous learning, and doing hard things on purpose. I love to read, game, learn a new thing here and there, and get lost in whatever I’m focused on. I've built projects, attended hackathons, participated in fellowships and summer internships. I look forward to a carreer in tech thats both challenging and rewarding! Check out this site to learn more about me, my experiences, education, projects, or hobbies!</p>
    </div>
</div>
{% endblock %}